<h1>Productos Disponibles</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">

{{#each Cart.products}}
<div class="product-item col">
  <div class="card h-100 " class="product-item">
        <div class="card-body">
          <h5 class="card-title">{{this.product}}</h5>
          <p>Id: {{products._id}}</p>
          <p>Cantidad: {{this.quantity}}</p>
        </div>
  </div>
</div>

{{/each}}
</div>

{{#if hasPrevPage}}
    <button><a href="/products?page={{prevPage}}">Anterior</a></button>
{{/if}}

{{#if hasNextPage}}
    <button><a href="/products?page={{nextPage}}">Siguiente</a></button>
{{/if}}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/products.js"></script>